@using PartPicker.Infrastructure
@model PartPicker.ViewModels.GpuDetailsViewModel

@{
    ViewBag.Title = Model.Gpu.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-details">
    <div class="container-details">
        <div class="details-image">
            <img class="details-image-product" src="@Url.GpusImagesPath(Model.Gpu.Image)" />
        </div>


        <div class="details-prices">


            <div class="details-name">
                @Model.Gpu.Name
            </div>
            <br />
            @if (Request.IsAuthenticated)
            {
                if (Model.NewBuildViewModel.Case != null && Model.NewBuildViewModel.Case.GpuLenght < Model.Gpu.Length)
                {
                    <div class="info-red">
                        <div class="info-left">
                            <img src="@Url.ImagesPath("!.png")" />
                        </div>
                        <div class="info-right">
                            Ta karta graficzna nie pasuje do wybranej przez Ciebie obudowy, ponieważ jest zbyt długa.
                            <br />
                            Aktualnie wybrana obudowa to: @Model.NewBuildViewModel.Case.Name
                            <br />
                            Maksymalna długość karty graficznej dla wybranej obudowy to: @Model.NewBuildViewModel.Case.GpuLenght:mm.
                            <br />
                            <a href="@Url.Action("GpuList", "Gpu", new { @lengthMax = Model.NewBuildViewModel.Case.GpuLenght })">
                            Kliknij tutaj by przejść do wyszukiwania kompatybilnych kart graficznych.
                            </a>
                        </div>
                    </div>
                }

                if (Model.NewBuildViewModel.Gpu != null)
                {
                    <div class="info-green">
                        <div class="info-left">
                            <img src="@Url.ImagesPath("!.png")" />
                        </div>
                        <div class="info-right">
                            W Twojej konfiguracji znajduje się już karta graficzna:
                            <a href="@Url.Action("GpuDetails", "Gpu", new { id = Model.NewBuildViewModel.Gpu.GpuId })">
                                @Model.NewBuildViewModel.Gpu.Name
                            </a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="info-yellow">
                    <div class="info-left">
                        <img src="@Url.ImagesPath("!.png")" />
                    </div>
                    <div class="info-right">
                        Zaloguj się by stworzyć własną konfigurację.
                        <br />
                        <a href="@Url.Action("Login", "Account")">Kliknij tutaj by się zalogować.</a>
                    </div>
                </div>
            }


            @{ int i = 0; }
            @foreach (var gpu in Model.GpuList)
            {
                <div class="details-prices-shop">
                    <div class="details-prices-shop-item details-prices-shop-item-link">
                        <a class="details-prices-shop-link" href=@gpu.Link>

                            <img class="details-prices-shop-image" src="@Url.ShopsImagesPath(gpu.Shop.Logo)" />


                            <div class="details-prices-shop-price">
                                @Model.Prices[i]
                            </div>

                        </a>
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        if (Model.NewBuildViewModel.Case != null)
                        {
                            if (Model.NewBuildViewModel.Case.GpuLenght >= Model.Gpu.Length)
                            {

                                <a class="details-prices-shop-item" href="@Url.Action("AddGpuToBuild", "NewBuild", new { @id = gpu.GpuId })">
                                    <img class="details-prices-shop-add" src="@Url.ImagesPath("add.png")" />
                                </a>

                            }
                            else
                            {
                                <div class="details-prices-shop-item">
                                    <img class="details-prices-shop-add" src="@Url.ImagesPath("addDisabled.png")" />
                                </div>
                            }
                        }
                        else
                        {

                            <a class="details-prices-shop-item" href="@Url.Action("AddGpuToBuild", "NewBuild", new { @id = gpu.GpuId })">
                                <img class="details-prices-shop-add" src="@Url.ImagesPath("add.png")" />
                            </a>

                        }
                    }
                    else
                    {
                        <div class="details-prices-shop-item">
                            <img class="details-prices-shop-add" src="@Url.ImagesPath("addDisabled.png")" />
                        </div>
                    }
                    <br />
                </div>

                i++;
            }
        </div>
    </div>
    <div class="container-details">
        <div class="details-info">
            <div class="details-info-text">PRODUCENT: @Model.Gpu.Product.Manufacturer.Name<br /></div>
            <div class="details-info-text">SERIA: @Model.Gpu.Product.Series.Name<br /></div>
            <div class="details-info-text">MODEL: @Model.Gpu.Model<br /></div>
            <div class="details-info-text">CZĘSTOTLIWOŚĆ TAKTOWANIA: @Model.Gpu.Frequency GHz<br /></div>
            <div class="details-info-text">CZĘSTOTLIWOŚĆ TAKTOWANIA W TRYBIE TURBO: @Model.Gpu.FrequencyBoost GHz<br /></div>
            <div class="details-info-text">TYP RAM: @Model.Gpu.GpuRam.Name<br /></div>
            <div class="details-info-text">ILOŚĆ RAM: @Model.Gpu.Ram GB<br /></div>
            <div class="details-info-text">DŁUGOŚĆ KARTY: @Model.Gpu.Length mm<br /></div>
            <div class="details-info-text">BENCHMARK: @Model.Gpu.Benchmark / @Model.BenchmarkMax <br /></div>
        </div>
    </div>
</div>
