@model PartPicker.ViewModels.BuildFiltersViewModel
@using PartPicker.Infrastructure

<div class="sidebar">
    <button class="dropdown-btn">
        Filtry<i class="caret-down"></i>
    </button>
    <div class="dropdown-container">
        <button class="dropdown-btn">
            Procesor<i class="caret-down"></i>
        </button>
        <div class="dropdown-container">
            <button class="dropdown-btn">
                Producent<i class="caret-down"></i>
            </button>
            <div class="dropdown-container">
                @foreach (var manufacturer in Model.CpuManufacturers)
                {
                    <button class="dropdown-btn">
                        @manufacturer<i class="caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        @foreach (var series in Model.CpuSeries)
                        {
                            if (series.Manufacturer == manufacturer)
                            {
                                <a href="#">@series.Name</a>
                            }
                        }
                    </div>
                }
            </div>
        </div>

        <button class="dropdown-btn">
            Karta graficzna<i class="caret-down"></i>
        </button>
        <div class="dropdown-container">
            <button class="dropdown-btn">
                Producent<i class="caret-down"></i>
            </button>
            <div class="dropdown-container">
                @foreach (var manufacturer in Model.GpuManufacturers)
                {
                    <a href="#">@manufacturer</a>
                }
            </div>
        </div>

        <button class="dropdown-btn">
            Pamięć RAM<i class="caret-down"></i>
        </button>
        <div class="dropdown-container">
            <button class="dropdown-btn">
                Typ RAM<i class="caret-down"></i>
            </button>
            <div class="dropdown-container">
                @foreach (var ramType in Model.RamTypes)
                {
                    <a href="#">@ramType</a>
                }
            </div>
        </div>

        <button class="dropdown-btn">
            Dysk Twardy<i class="caret-down"></i>
        </button>

        <div class="dropdown-container">
            @foreach (var storageType in Model.StorageTypes)
            {
                <a>@storageType</a>
            }
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/JavaScriptDropDown.js")"></script>
</div>