@model PartPicker.ViewModels.CpuFormViewModel
@using PartPicker.Infrastructure


@{
    ViewBag.Title = "_Form";
}
<div class="sidebar">
    <form action="@Url.Action("CpuList", "Cpu")" method="post">

        @foreach (var manufacturer in Model.Manufacturers)
        {
            <button>
                Producent:
            </button>
            <br />
            @manufacturer <br />
            <button>
                Serie:
            </button>
            <br />
            foreach (var serie in Model.Series)
            {
                foreach (var cpus in Model.Cpus)
                {
                    if (cpus.Product.Manufacturer.Name == manufacturer && cpus.Product.Series.Name == serie)
                    {
                        if (Model.CpuFormCheckedViewModel.SeriesChecked.Contains(serie))
                        {
                            @cpus.Product.Series.Name
                            <input type="checkbox" name="series" value="@cpus.Product.Series.Name" checked />
                        }
                        else
                        {
                            @cpus.Product.Series.Name
                            <input type="checkbox" name="series" value="@cpus.Product.Series.Name" />
                        }
                        <br />
                        break;
                    }
                }
            }
        }

        <button>
            Socket:
        </button>
        <br />
        @foreach (var socket in Model.Sockets)
        {
            if (Model.CpuFormCheckedViewModel.SocketsChecked.Contains(socket))
            {
                @socket <input type="checkbox" name="sockets" value="@socket" checked />
            }
            else
            {
                @socket <input type="checkbox" name="sockets" value="@socket" />
            }

            <br />
        }


        <button>
            Ilość rdzeni:
        </button>
        <br />
        Min:
        @if (Model.CpuFormCheckedViewModel.CoresMinChecked != 0 && Model.CpuFormCheckedViewModel.CoresMinChecked != 100)
        {
            <input type="number" name="coresMin" value="@Model.CpuFormCheckedViewModel.CoresMinChecked" />
        }
        else
        {
            <input type="number" name="coresMin" />
        }
        <br />

        Max:
        @if (Model.CpuFormCheckedViewModel.CoresMaxChecked != 0)
        {
            <input type="number" name="coresMax" value="@Model.CpuFormCheckedViewModel.CoresMaxChecked" />
        }
        else
        {
            <input type="number" name="coresMax" />
        }
        <br />


        <button>
            Zintegrowana karta graficzna:
        </button>
        <br />
        Tak
        @if (Model.CpuFormCheckedViewModel.GpuChecked == "true")
        {
            <input type="radio" name="gpu" value="true" checked />
        }
        else
        {
            <input type="radio" name="gpu" value="true" />
        }
        <br />
        Nie
        @if (Model.CpuFormCheckedViewModel.GpuChecked == "false")
        {
            <input type="radio" name="gpu" value="false" checked />
        }
        else
        {
            <input type="radio" name="gpu" value="false" />

        }
        <br />


        <input type="submit" value="submit" />

    </form>
</div>