@model PartPicker.ViewModels.CpuFormViewModel
@using PartPicker.Infrastructure


@{
    ViewBag.Title = "_Form";
}
<div class="sidebar">
    <form action="@Url.Action("CpuList", "Cpu")" method="post">

        <button type="button" class="dropdown-btn">
            Producent:
        </button>

        <div class="dropdown-container">

            @foreach (var manufacturer in Model.Manufacturers)
            {

                <button type="button" class="dropdown-btn">
                    @manufacturer
                </button>

                <div class="dropdown-container">
                    @foreach (var serie in Model.Series)
                    {
                        foreach (var cpus in Model.Cpus)
                        {
                            if (cpus.Product.Manufacturer.Name == manufacturer && cpus.Product.Series.Name == serie)
                            {
                                <label name="@serie">
                                    <div class="filter-send">
                                        @if (Model.CpuFormCheckedViewModel.SeriesChecked.Contains(serie))
                                        {

                                            @cpus.Product.Series.Name
                                            <input type="checkbox" name="series" value="@cpus.Product.Series.Name" checked />

                                        }
                                        else
                                        {

                                            @cpus.Product.Series.Name
                                            <input type="checkbox" name="series" value="@cpus.Product.Series.Name" />

                                        }
                                    </div>
                                </label>
                                break;
                            }
                        }
                    }
                </div>
            }
        </div>
        <button type="button" class="dropdown-btn">
            Socket:
        </button>

        <div class="dropdown-container">
            @foreach (var socket in Model.Sockets)
            {
                <label name="@socket">
                    <div class="filter-send">
                        @if (Model.CpuFormCheckedViewModel.SocketsChecked.Contains(socket))
                        {

                            @socket <input type="checkbox" name="sockets" value="@socket" checked />

                        }
                        else
                        {

                            @socket <input type="checkbox" name="sockets" value="@socket" />

                        }
                    </div>
                </label>
            }
        </div>

        <button type="button" class="dropdown-btn">
            Ilość rdzeni:
        </button>
        <div class="dropdown-container">
            <label name="min">
                <div class="filter-send">
                    Min:
                    @if (Model.CpuFormCheckedViewModel.CoresMinChecked != 0 && Model.CpuFormCheckedViewModel.CoresMinChecked != 100)
                    {
                        <input type="number" name="coresMin" value="@Model.CpuFormCheckedViewModel.CoresMinChecked" />
                    }
                    else
                    {
                        <input type="number" name="coresMin" />
                    }
                </div>
            </label>

            <label name="max">
                <div class="filter-send">
                    Max:
                    @if (Model.CpuFormCheckedViewModel.CoresMaxChecked != 0)
                    {
                        <input type="number" name="coresMax" value="@Model.CpuFormCheckedViewModel.CoresMaxChecked" />
                    }
                    else
                    {
                        <input type="number" name="coresMax" />
                    }
                </div>
            </label>
        </div>

        <button type="button" class="dropdown-btn">
            Zintegrowana karta graficzna:
        </button>
        <div class="dropdown-container">
            <label name="true">
                <div class="filter-send">
                    Tak
                    @if (Model.CpuFormCheckedViewModel.GpuChecked == "true")
                    {
                        <input type="radio" name="gpu" value="true" checked />
                    }
                    else
                    {
                        <input type="radio" name="gpu" value="true" />
                    }
                    <br />
                </div>
            </label>
            <label name="false">
                <div class="filter-send">
                    Nie
                    @if (Model.CpuFormCheckedViewModel.GpuChecked == "false")
                    {
                        <input type="radio" name="gpu" value="false" checked />
                    }
                    else
                    {
                        <input type="radio" name="gpu" value="false" />

                    }
                </div>
            </label>
        </div>

        <input type="submit" value="submit" />

    </form>
</div>

<script src="@Url.Content("~/Scripts/JavaScriptDropDown.js")"></script>