@using PartPicker.Infrastructure
@model PartPicker.ViewModels.CpuDetailsViewModel

@{
    ViewBag.Title = Model.Cpu.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-details">
    <div class="container-details">
        <div class="details-image">
            <img class="details-image-product" src="@Url.CpusImagesPath(Model.Cpu.Image)" />
        </div>


        <div class="details-prices">


            <div class="details-name">
                @Model.Cpu.Name
            </div>
            <br />

            @if (Model.NewBuildViewModel.Mobo != null && Model.NewBuildViewModel.Mobo.Socket.Name != Model.Cpu.Socket.Name)
            {
                <div class="info-red">
                    <div class="info-left">
                        <img src="@Url.ImagesPath("!.png")" />
                    </div>
                    <div class="info-right">
                        Ten procesor nie pasuje do wybranej przez Ciebie płyty głównej.
                        <br />
                        Aktualnie wybrana płyta główna to: @Model.NewBuildViewModel.Mobo.Name
                        <br />
                        Odpowiedni Socket do wybranej przez Ciebie płyty głównej to: @Model.NewBuildViewModel.Mobo.Socket.Name
                        <br />
                        Kliknij tutaj by przejść do wyszukiwania kompatybilnych procesorów.
                    </div>
                </div>
            }

            @if (Model.NewBuildViewModel.Cpu != null)
            {
                <div class="info-green">
                    <div class="info-left">
                        <img src="@Url.ImagesPath("!.png")" />
                    </div>
                    <div class="info-right">
                        W Twojej konfiguracji znajduje się już procesor:
                        <a href="@Url.Action("Details", "Cpu", new { id = Model.NewBuildViewModel.Cpu.CpuId })">
                            @Model.NewBuildViewModel.Cpu.Name
                        </a>
                    </div>
                </div>
            }


            @{ int i = 0; }
            @foreach (var cpu in Model.CpuList)
            {
                <div class="details-prices-shop">
                    <div class="details-prices-shop-item details-prices-shop-item-link">
                        <a class="details-prices-shop-link" href=@cpu.Link>

                            <img class="details-prices-shop-image" src="@Url.ShopsImagesPath(cpu.Shop.Logo)" />


                            <div class="details-prices-shop-price">
                                @Model.Prices[i]
                            </div>

                        </a>
                    </div>
                    @if (Model.NewBuildViewModel.Mobo != null)
                    {
                        if (Model.NewBuildViewModel.Mobo.Socket.Name == cpu.Socket.Name)
                        {
                            
                                <a class="details-prices-shop-item" href="@Url.Action("AddCpuToBuild", "NewBuild", new { @id = cpu.CpuId })">
                                    <img class="details-prices-shop-add" src="@Url.ImagesPath("add.png")" />
                                </a>
                            
                        }
                        else
                        {
                            <div class="details-prices-shop-item">
                                <img class="details-prices-shop-add" src="@Url.ImagesPath("addDisabled.png")" />
                            </div>
                        }
                    }
                    else
                    {
                        
                            <a class="details-prices-shop-item" href="@Url.Action("AddCpuToBuild", "NewBuild", new { @id = cpu.CpuId })">
                                <img class="details-prices-shop-add" src="@Url.ImagesPath("add.png")" />
                            </a>
                        
                    }
                    <br />
                </div>

                i++;
            }
        </div>
    </div>
    <div class="container-details">
        <div class="details-info">
            <div class="details-info-text">PRODUCENT: @Model.Cpu.Product.Manufacturer.Name<br /></div>
            <div class="details-info-text">SERIA: @Model.Cpu.Product.Series.Name<br /></div>
            <div class="details-info-text">MODEL: @Model.Cpu.Model<br /></div>
            <div class="details-info-text">LICZBA RDZENI: @Model.Cpu.Cores<br /></div>
            <div class="details-info-text">SOCKET: @Model.Cpu.Socket.Name<br /></div>
            <div class="details-info-text">CZĘSTOTLIWOŚĆ TAKTOWANIA(GHz): @Model.Cpu.Frequency<br /></div>
            <div class="details-info-text">CZĘSTOTLIWOŚĆ TAKTOWANIA W TRYBIE TURBO(GHz): @Model.Cpu.Turbo<br /></div>
            <div class="details-info-text">WBUDOWANA KARTA GRAFICZNA: @Model.Cpu.Gpu<br /></div>
            <div class="details-info-text">BENCHMARK: @Model.Cpu.Benchmark<br /></div>
        </div>
    </div>
</div>
