@using PartPicker.Infrastructure
@model PartPicker.ViewModels.CpuDetailsViewModel

@{
    ViewBag.Title = Model.Cpu.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-details">
    <div class="container-details">
        <div class="details-image">
            <img class="details-image-product" src="@Url.CpusImagesPath(Model.Cpu.Image)" />
        </div>
        <div class="details-prices">
            @if (Model.NewBuildViewModel.Mobo != null && Model.NewBuildViewModel.Mobo.Socket.Name != Model.Cpu.Socket.Name)
            {
                <div class="infoRED" style="background-color: #cc3a3a;">
                    <div class="infoLewo">
                        <img src="@Url.ImagesPath("!.png")" style="width:50px !important; height:50px !important;" />
                    </div>
                    <div class="infoPrawo">
                        Ten procesor nie pasuje do wybranej przez Ciebie płyty głównej.
                        <br />
                        Aktualnie wybrana płyta główna to: @Model.NewBuildViewModel.Mobo.Name
                        <br />
                        Odpowiedni Socket do wybranej przez Ciebie płyty głównej to: @Model.NewBuildViewModel.Mobo.Socket.Name
                        <br />
                        Kliknij tutaj by przejść do wyszukiwania kompatybilnych procesorów.
                    </div>
                </div>
            }
            @if (Model.NewBuildViewModel.Cpu != null)
            {
                <div class="infoGREEN" style="background-color: #29ff0f;">
                    <div class="infoLewo">
                        <img src="@Url.ImagesPath("!.png")" style="width:50px !important; height:50px !important;" />
                    </div>
                    <div class="infoPrawo">
                        W Twojej konfiguracji znajduje się już procesor:
                        <a href="@Url.Action("Details", "Cpu", new { id = Model.NewBuildViewModel.Cpu.CpuId })">
                            @Model.NewBuildViewModel.Cpu.Name
                        </a>
                    </div>
                </div>
            }


            @{ int i = 0; }
            @foreach (var cpu in Model.CpuList)
            {
                <div class="details-prices-shop">
                    <div class="details-prices-shop-item abc">
                        <a class="details-prices-shop-link" href=@cpu.Link>

                            <img class="details-prices-shop-image" src="@Url.ShopsImagesPath(cpu.Shop.Logo)" />


                            <div class="details-prices-shop-price">
                                @Model.Prices[i]
                            </div>

                        </a>
                    </div>
                    @if (Model.NewBuildViewModel.Mobo != null)
                    {
                        if (Model.NewBuildViewModel.Mobo.Socket.Name == cpu.Socket.Name)
                        {
                            <div class="details-prices-shop-item">
                                <a href="@Url.Action("AddCpuToBuild", "NewBuild", new { @id = cpu.CpuId })">
                                    <img class="details-prices-shop-add" src="@Url.ImagesPath("add.png")" />
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="details-prices-shop-item">
                            <a href="@Url.Action("AddCpuToBuild", "NewBuild", new { @id = cpu.CpuId })">
                                <img class="details-prices-shop-add" src="@Url.ImagesPath("add.png")" />
                            </a>
                        </div>
                    }
                    <br />
                </div>

                i++;
            }
        </div>
    </div>
    <div class="container-details">
        <div class="details-info">
            <div class="details-info-text">Nazwa: @Model.Cpu.Name<br /></div>
            <div class="details-info-text">Producent: @Model.Cpu.Product.Manufacturer.Name<br /></div>
            <div class="details-info-text">Seria: @Model.Cpu.Product.Series.Name<br /></div>
            <div class="details-info-text">Model: @Model.Cpu.Model<br /></div>
            <div class="details-info-text">Liczba rdzeni: @Model.Cpu.Cores<br /></div>
            <div class="details-info-text">Socket: @Model.Cpu.Socket.Name<br /></div>
            <div class="details-info-text">Częstotliwość taktowania(GHz): @Model.Cpu.Frequency<br /></div>
            <div class="details-info-text">Częstotliwość taktowania w trybie Turbo(GHz): @Model.Cpu.Turbo<br /></div>
            <div class="details-info-text">Wbudowana karta graficzna: @Model.Cpu.Gpu<br /></div>
        </div>
    </div>
</div>
