@using PartPicker.Infrastructure
@model PartPicker.ViewModels.CpuDetailsViewModel

@{
    ViewBag.Title = Model.Cpu.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-details">
    <div class="container-details">
        <div class="details-image">
            <img class="details-image-product" src="@Url.CpusImagesPath(Model.Cpu.Image)" />
        </div>
        <div class="details-prices">
            @{ int i = 0; }
            @foreach (var cpu in Model.CpuList)
            {
            <div class="details-prices-shop">
                <div class="details-prices-shop-item abc">
                    <a class="details-prices-shop-link" href=@cpu.Link>
                        
                            <img class="details-prices-shop-image" src="@Url.ShopsImagesPath(cpu.Shop.Logo)" />
                        

                        <div class="details-prices-shop-price">
                            @Model.Prizes[i]
                        </div>

                    </a>
                </div>
                <div class="details-prices-shop-item">
                    <img class="details-prices-shop-add" src="@Url.ImagesPath("add.png")" />
                </div>
                <div class="details-prices-shop-item">
                    <img class="details-prices-shop-delete" src="@Url.ImagesPath("delete.png")" />
                </div>
                
                <br />
            </div>
                
             i++;
            }
        </div>
    </div>
    <div class="container-details">
        <div class="details-info">
            <div class="details-info-text">Nazwa: @Model.Cpu.Name<br /></div>
            <div class="details-info-text">Producent: @Model.Cpu.Product.Manufacturer.Name<br /></div>
            <div class="details-info-text">Seria: @Model.Cpu.Product.Series.Name<br /></div>
            <div class="details-info-text">Model: @Model.Cpu.Model<br /></div>
            <div class="details-info-text">Liczba rdzeni: @Model.Cpu.Cores<br /></div>
            <div class="details-info-text">Socket: @Model.Cpu.Socket.Name<br /></div>
            <div class="details-info-text">Częstotliwość taktowania(GHz): @Model.Cpu.Frequency<br /></div>
            <div class="details-info-text">Częstotliwość taktowania w trybie Turbo(GHz): @Model.Cpu.Turbo<br /></div>
            <div class="details-info-text">Wbudowana karta graficzna: @Model.Cpu.Gpu<br /></div>
        </div>
    </div>
</div>
