
@{
    ViewBag.Title = "Zarządzanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("CpuAddForm", "Parts")">Dodaj procesor</a>
<a href="@Url.Action("GpuAddForm", "Parts")">Dodaj kartę graficzną</a>
<a href="@Url.Action("MoboAddForm", "Parts")">Dodaj płytę główną</a>
<a href="@Url.Action("RamAddForm", "Parts")">Dodaj RAM</a>
<a href="@Url.Action("StorageAddForm", "Parts")">Dodaj dysk</a>
<a href="@Url.Action("CaseAddForm", "Parts")">Dodaj obudowe</a>
<a href="@Url.Action("PsuAddForm", "Parts")">Dodaj zasilacz</a>

