@model PartPicker.ViewModels.AddPsuFormViewModel
@using PartPicker.Infrastructure

@{
    ViewBag.Title = "Dodaj zasilacz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="@Url.Action("AddPsu", "Parts")" method="post">
    <div class="main-form">
        <div class="register-row">
            <div class="register-row-content">
                <div class="register-row-text">
                    Nazwa:
                </div>
                <div class="register-row-input">
                    <input type="text" name="name" />
                </div>
            </div>
        </div>

        <div class="register-row">
            <div class="register-row-content">
                <div class="register-row-text">
                    Producent:
                </div>
                <div class="register-row-input">
                    <select class="register-row-input-select" name="manufacturerId">
                        @foreach (var manu in Model.Manufacturers)
                        {
                            <option value="@manu.ManufacturerId">
                                @manu.Name
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="register-row">
            <div class="register-row-content">
                <div class="register-row-text">
                    Model:
                </div>
                <div class="register-row-input">
                    <input type="text" name="model" />
                </div>
            </div>
        </div>

        <div class="register-row">
            <div class="register-row-content">
                <div class="register-row-text">
                    Link:
                </div>
                <div class="register-row-input">
                    <input type="text" name="link" />
                </div>
            </div>
        </div>

        <div class="register-row">
            <div class="register-row-content">
                <div class="register-row-text">
                    Standard konstrukcji:
                </div>
                <div class="register-row-input">
                    <select class="register-row-input-select" name="formFactorId">
                        @foreach (var form in Model.FormFactors)
                        {
                            <option value="@form.FormFactorId">@form.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="register-row">
            <div class="register-row-content">
                <div class="register-row-text">
                    Moc:
                </div>
                <div class="register-row-input">
                    <input type="number" name="power" />
                </div>
            </div>
        </div>

        <div class="register-row">
            <div class="register-row-content">
                <div class="register-row-text">
                    Wydajność:
                </div>
                <div class="register-row-input">
                    <input type="text" name="efficiency" />
                </div>
            </div>
        </div>

        <div class="register-row">
            <div class="register-row-content">
                <div class="register-row-text">
                    Nazwa pliku obrazka:
                </div>
                <div class="register-row-input">
                    <input type="text" name="image" />
                </div>
            </div>
        </div>

        <div class="register-row">
            <div class="register-row-content">
                <div class="register-row-text">
                    Sklep:
                </div>
                <div class="register-row-input">
                    <select class="register-row-input-select" name="shopId">
                        @foreach (var shop in Model.Shops)
                        {
                            <option value="@shop.ShopId">@shop.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <input class="form-submit" type="submit" value="Dodaj zasilacz" />
    </div>




</form>
