<!DOCTYPE html>
@using PartPicker.Infrastructure
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="@Url.Content("~/Scripts/DropDown.js")"></script>
</head>
<body>
    <div class="top-nav" id="top-nav">
        <a>Hello Guest!</a>

        <div class="drop">
            <button id="dropbtn" class="dropbtn" onclick="drop()">
                Przeglądaj  <img id="image_down" class="image_down" src="@Url.ImagesPath("down.png")" />
                <img id="image_up" class="image_up" src="@Url.ImagesPath("up.png")" />
            </button>
            <div class="drop-content" id="myDropdown">
                <a href="@Url.Action("List", "Builds")">Buildy</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
        <a href="#news">Utwórz build</a>
        <a href="#register">Zarejestruj</a>
        <a href="#contact">Zaloguj</a>
        <a><input type="text" name="password" placeholder="Password"></a>
        <a><input type="text" name="login" placeholder="Login"></a>

        <a class="icon" onclick="dropdownNav()">+</a>
    </div>

    <div class="bar">    </div>

    <!-- Main -->

    <div class="main">

        <!-- Banner -->

        <div class="banner">
            <a href="@Url.Action("Index", "Home")">
                <img src="@Url.BanersImagesPath()" class="banner-img" />
            </a>
        </div>


        <div>
            @RenderBody()
        </div>

    </div>

    <footer>
        <div class="footer-list">
            <div class="footer-part">
                <ul>
                    <li>@Html.ActionLink("Contact", "Static", "Home", new { name = "Contact" }, null)</li>
                    <li>@Html.ActionLink("About", "Static", "Home", new { name = "About" }, null)</li>
                </ul>
            </div>
            <div class="footer-part">
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </div>
            <div class="footer-part">
                <ul>
                    <li>Copyright &copy; 2019</li>
                    <li>K. Jeżowski, A. Jarszak</li>
                </ul>
            </div>
        </div>
    </footer>

    <div>
        @RenderSection("Scripts", required: false)
    </div>

</body>
</html>
