<!DOCTYPE html>
@using PartPicker.Infrastructure
@using Microsoft.AspNet.Identity
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="@Url.Content("~/Scripts/DropDown.js")"></script>
</head>
<body>
    <div class="top-nav" id="top-nav">
        <div>

            @if (Request.IsAuthenticated)
            {
                <a href="@Url.Action("Index", "Manage")">Witaj @User.Identity.GetUserName()</a>
                using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
                }
                if(@User.Identity.GetUserName() == "admin")
                {
                    <a href="">Zarządzanie</a>
                }
                <a href="@Url.Action("Index", "NewBuild")">Utwórz build</a>
            }
            else
            {
                <a>Witaj</a>
                <a href="@Url.Action("Login", "Account")">Zaloguj się</a>
                <a href="@Url.Action("Register","Account")">Zarejestruj się</a>
            }

            <div class="drop">
                <button id="dropbtn" class="dropbtn" onclick="drop()">
                    Przeglądaj  <img id="image_down" class="image_down" src="@Url.ImagesPath("down.png")" />
                    <img id="image_up" class="image_up" src="@Url.ImagesPath("up.png")" />
                </button>
                <div class="drop-content" id="myDropdown">
                    <a href="@Url.Action("BuildList", "Builds")">Buildy</a>
                    <a href="@Url.Action("CpuList", "Cpu")">Procesory</a>
                    <a href="@Url.Action("GpuList", "Gpu")">Karty graficzne</a>
                    <a href="@Url.Action("MoboList", "Mobo")">Płyty główne</a>
                    <a href="@Url.Action("StorageList", "Storage")">Dyski twarde</a>
                    <a href="@Url.Action("RamList", "Ram")">Pamięci RAM</a>
                    <a href="@Url.Action("PsuList", "Psu")">Zasilacze</a>
                    <a href="@Url.Action("CaseList", "Case")">Obudowy</a>
                </div>
            </div>


            <a class="icon" id="icon" onclick="dropdownNav()"><div class="plus" id="plus">+</div><div class="minus" id="minus">-</div></a>

        </div>

    </div>

    <div class="bar">    </div>

    <!-- Main -->

    <div class="main">

        <!-- Banner -->

        <div class="banner">
            <a href="@Url.Action("Index", "Home")">
                <img src="@Url.BanersImagesPath()" class="banner-img" />
            </a>
        </div>


        <div>
            @RenderBody()
        </div>

    </div>

    <footer>
        <div class="footer-list">
            <div class="footer-part">
                <ul>
                    <li>Politechnika</li>
                    <li>Lubelska</li>
                </ul>
            </div>
            <div class="footer-part">
                <ul>
                    <li>Praca</li>
                    <li>inżynierska</li>
                </ul>
            </div>
            <div class="footer-part">
                <ul>
                    <li>K. Jeżowski</li>
                    <li>A. Jarszak</li>
                </ul>
            </div>
        </div>
    </footer>

    <div>
        @RenderSection("Scripts", required: false)
    </div>

</body>
</html>
