@model PartPicker.ViewModels.LoginViewModel
@using PartPicker.Infrastructure

@{
    ViewBag.Title = "Logowanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-form">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

    <div class="register-row">
        <div class="register-row-validate">
            @Html.ValidationMessage("Summary")
        </div>
        <div class="register-row-content">
            <div class="register-row-image">
                <img class="register-row-image-png" src="@Url.ImagesPath("email.png")" />
            </div>
            <div class="register-row-text">
                @Html.LabelFor(o => o.Email, "Email:")
            </div>
            <div class="register-row-input">
                @Html.TextBoxFor(o => o.Email)
            </div>
        </div>
        <div class="register-row-validate">
            @Html.ValidationMessageFor(o => o.Email)
        </div>
    </div>

        <div class="register-row">
            <div class="register-row-content">
                <div class="register-row-image">
                    <img class="register-row-image-png" src="@Url.ImagesPath("lock.png")" />
                </div>
                <div class="register-row-text">
                    @Html.LabelFor(o => o.Password)
                </div>
                <div class="register-row-input">
                    @Html.PasswordFor(o => o.Password)
                </div>
            </div>
            <div class="register-row-validate">
                @Html.ValidationMessageFor(o => o.Password)
            </div>

        </div>

        <div class="register-row">
            <div class="register-row-checkbox">
                @Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked" })
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>

        <input class="form-submit" type="submit" value="Zaloguj" />
    }

    <a href="@Url.Action("Register", "Account")">
        <input class="form-submit" type="button" value="Załóż konto" />
    </a>


    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
