@model PartPicker.ViewModels.RegisterViewModel
@using PartPicker.Infrastructure
@{
    ViewBag.Title = "Rejestracja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-form">
    @using (Html.BeginForm("Register", "Account"))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.ValidationMessage("loginerror", "")
            @Html.ValidationSummary()
        </div>

        <div class="register-row">
            <div class="register-row-image">
                <img class="register-row-image-png" src="@Url.ImagesPath("email.png")" />
            </div>
            <div class="register-row-text">
                @Html.LabelFor(o => o.Email, "Email:")
            </div>
            <div class="register-row-input">
                @Html.TextBoxFor(o => o.Email)
            </div>
            <div>
                @Html.ValidationMessageFor(o => o.Email)
            </div>
        </div>

        <div class="register-row">
            <div class="register-row-image">
                <img class="register-row-image-png" src="@Url.ImagesPath("person.png")" />
            </div>
            <div class="register-row-text">
                @Html.LabelFor(o => o.UserName, "Pseudonim:")
            </div>
            <div class="register-row-input">
                @Html.TextBoxFor(o => o.UserName)
            </div>
            <div>
                @Html.ValidationMessageFor(o => o.UserName)
            </div>
        </div>

        <div class="register-row">
            <div class="register-row-image">
                <img class="register-row-image-png" src="@Url.ImagesPath("lock.png")" />
            </div>
            <div class="register-row-text">
                @Html.LabelFor(o => o.Password, "Hasło:")
            </div>
            <div class="register-row-input">
                @Html.PasswordFor(o => o.Password)
            </div>
            <div>
                @Html.ValidationMessageFor(o => o.Password)
            </div>
        </div>

        <div class="register-row">
            <div class="register-row-image">
                <img class="register-row-image-png" src="@Url.ImagesPath("lock.png")" />
            </div>
            <div class="register-row-text">
                @Html.LabelFor(o => o.ConfirmPassword, "Potwierdź hasło:")
            </div>
            <div class="register-row-input">
                @Html.PasswordFor(o => o.ConfirmPassword)
            </div>
            <div>
                @Html.ValidationMessageFor(o => o.ConfirmPassword)
            </div>
        </div>

        <input class="form-submit" type="submit" value="Zarejestruj" />
    }
</div>


<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
