@model PartPicker.ViewModels.NewBuildViewModel
@using PartPicker.Infrastructure
@{
    ViewBag.Title = "Nowa konfiguracja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
Procesor:
@if (@Model.Cpu != null)
{
    @Model.Cpu.Name
    <a href="@Url.Action("DeleteCpuFromBuild", "NewBuild")">
        <img class="newbuild-add" src="@Url.ImagesPath("delete.png")" />
    </a>
}
else
{
    <a href="@Url.Action("AddCpuToBuild", "NewBuild", new { id = 1 })">
        <img class="newbuild-add" src="@Url.ImagesPath("add.png")" />
    </a>
}

<br />
Karta graficzna:
@if (@Model.Gpu != null)
{
    @Model.Gpu.Name
    <a href="@Url.Action("DeleteGpuFromBuild", "NewBuild")">
        <img class="newbuild-add" src="@Url.ImagesPath("delete.png")" />
    </a>
}
else
{
    <a href="@Url.Action("AddGpuToBuild", "NewBuild", new { id = 1 })">
        <img class="newbuild-add" src="@Url.ImagesPath("add.png")" />
    </a>
}

<br />
Płyta główna:
@if (@Model.Mobo != null)
{
    @Model.Mobo.Name
    <a href="@Url.Action("DeleteMoboFromBuild", "NewBuild")">
        <img class="newbuild-add" src="@Url.ImagesPath("delete.png")" />
    </a>
}
else
{
    <a href="@Url.Action("AddMoboToBuild", "NewBuild", new { id = 1 })">
        <img class="newbuild-add" src="@Url.ImagesPath("add.png")" />
    </a>
}

<br />
RAM:
@if (@Model.Ram != null)
{
    @Model.Ram.Name
    <a href="@Url.Action("DeleteRamFromBuild", "NewBuild")">
        <img class="newbuild-add" src="@Url.ImagesPath("delete.png")" />
    </a>
}
else
{
    <a href="@Url.Action("AddRamToBuild", "NewBuild", new { id = 1 })">
        <img class="newbuild-add" src="@Url.ImagesPath("add.png")" />
    </a>
}

<br />
        Dysk twardy:
@if (@Model.Storage != null)
{
    @Model.Storage.Name
    <a href="@Url.Action("DeleteStorageFromBuild", "NewBuild")">
        <img class="newbuild-add" src="@Url.ImagesPath("delete.png")" />
    </a>
}
else
{
    <a href="@Url.Action("AddStorageToBuild", "NewBuild", new { id = 1 })">
        <img class="newbuild-add" src="@Url.ImagesPath("add.png")" />
    </a>
}

<br />
        Obudowa:
@if (@Model.Case != null)
{
    @Model.Case.Name
    <a href="@Url.Action("DeleteCaseFromBuild", "NewBuild")">
        <img class="newbuild-add" src="@Url.ImagesPath("delete.png")" />
    </a>
}
else
{
    <a href="@Url.Action("AddCaseToBuild", "NewBuild", new { id = 1 })">
        <img class="newbuild-add" src="@Url.ImagesPath("add.png")" />
    </a>
}

<br />
        Zasilacz:
@if (@Model.Psu != null)
{
    @Model.Psu.Name
    <a href="@Url.Action("DeletePsuFromBuild", "NewBuild")">
        <img class="newbuild-add" src="@Url.ImagesPath("delete.png")" />
    </a>
}
else
{
    <a href="@Url.Action("AddPsuToBuild", "NewBuild", new { id = 1 })">
        <img class="newbuild-add" src="@Url.ImagesPath("add.png")" />
    </a>
}

<form action="@Url.Action("AddBuild", "NewBuild")" method="post">
    Nazwa <input type="text" name="name" maxlength="45" value="Test nazwa"/>
    <br />
    Opis: <input type="text" name="description" maxlength="150" value="Test Opis"/>
    <br />
    <input type="submit" value="Dodaj build" />
</form>


