@model PartPicker.ViewModels.HomeViewModel
@using PartPicker.Infrastructure
@{
    ViewBag.Title = "Match it up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slideshow-container">
    <div class="slideshow-1">
        <div class="slideshow-1-margin">
            <div id="slideshow">
                <div class="slide-wrapper">
                    @foreach (var news in Model.New)
                    {
                        <div class="slide">
                            <img src="@Url.BuildsImagesPath(news.Image)" class="slide-background" />
                            <img src="@Url.ImagesPath("new.png")" class="slide-icon" />
                            <div class="slide-text">
                                <ul>
                                    <li>@news.Cpu.Manufacturer @news.Cpu.Model</li>
                                    <li>@news.Mobo.Manufacturer @news.Mobo.Model</li>
                                    <li>@news.Gpu.Manufacturer @news.Gpu.Model</li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="slideshow-2">
        <div class="slideshow-2-margin">
            <div id="slideshow">
                <div class="slide-wrapper">
                    @foreach (var hotBuild in Model.HotBuild)
                    {
                        <div class="slide">
                            <img src="@Url.BuildsImagesPath(hotBuild.Image)" class="slide-background" />
                            <img src="@Url.ImagesPath("hot.png")" class="slide-icon" />
                            <div class="slide-text">
                                <ul>
                                    <li>@hotBuild.Cpu.Manufacturer @hotBuild.Cpu.Model</li>
                                    <li>@hotBuild.Mobo.Manufacturer @hotBuild.Mobo.Model</li>
                                    <li>@hotBuild.Gpu.Manufacturer @hotBuild.Gpu.Model</li>
                                </ul>
                            </div>
                        </div>
                    }
                    @foreach (var hotCpu in Model.HotCpu)
                    {
                        <div class="slide">
                            <img src="@Url.CpusImagesPath(hotCpu.Image)" class="slide-background" />
                            <img src="@Url.ImagesPath("hot.png")" class="slide-icon" />
                            <div class="slide-text">
                                <ul>
                                    <li>@hotCpu.Manufacturer</li>
                                    <li>@hotCpu.Model</li>
                                </ul>
                            </div>
                        </div>
                    }
                    @foreach (var hotGpu in Model.HotGpu)
                    {
                        <div class="slide">
                            <img src="@Url.GpusImagesPath(hotGpu.Image)" class="slide-background" />
                            <img src="@Url.ImagesPath("hot.png")" class="slide-icon" />
                            <div class="slide-text">
                                <ul>
                                    <li>@hotGpu.Manufacturer</li>
                                    <li>@hotGpu.Model</li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


