@model PartPicker.ViewModels.HomeViewModel
@using PartPicker.Infrastructure
@{
    ViewBag.Title = "Match it up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slideshow-container">
    <div class="slideshow-1">
        <div class="slideshow-1-margin">
            <div id="slideshow">
                <div class="slide-wrapper">
                    @foreach (var news in Model.New)
                    {
                        <div class="slide">
                            <a href="@Url.Action("Details", "Builds", new { id = news.BuildId })">
                                <img src="@Url.BuildsImagesPath(news.Image)" class="slide-background" />
                                <img src="@Url.ImagesPath("new.png")" class="slide-icon" />
                                <div class="slide-text">
                                    <ul>
                                        <li>
                                            @news.Cpu.Product.Manufacturer.Name
                                            @news.Cpu.Product.Series.Name
                                            @news.Cpu.Model
                                        </li>
                                        <li>
                                            @news.Mobo.Manufacturer.Name
                                            @news.Mobo.Model
                                        </li>
                                        <li>
                                            @news.Gpu.Product.Manufacturer.Name
                                            @news.Gpu.Product.Series.Name
                                            @news.Gpu.Model
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="slideshow-2">
        <div class="slideshow-2-margin">
            <div id="slideshow">
                <div class="slide-wrapper">
                    @foreach (var hotBuild in Model.HotBuild)
                    {
                        <div class="slide">
                            <img src="@Url.BuildsImagesPath(hotBuild.Image)" class="slide-background" />
                            <img src="@Url.ImagesPath("hot.png")" class="slide-icon" />
                            <div class="slide-text">
                                <ul>
                                    <li>
                                        @hotBuild.Cpu.Product.Manufacturer.Name
                                        @hotBuild.Cpu.Product.Series.Name
                                        @hotBuild.Cpu.Model
                                    </li>
                                    <li>
                                        @hotBuild.Mobo.Manufacturer.Name
                                        @hotBuild.Mobo.Model
                                    </li>
                                    <li>
                                        @hotBuild.Gpu.Product.Manufacturer.Name
                                        @hotBuild.Gpu.Product.Series.Name
                                        @hotBuild.Gpu.Model
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    @foreach (var hotCpu in Model.HotCpu)
                    {
                        <div class="slide">
                            <img src="@Url.CpusImagesPath(hotCpu.Image)" class="slide-background" />
                            <img src="@Url.ImagesPath("hot.png")" class="slide-icon" />
                            <div class="slide-text">
                                <ul>
                                    <li>
                                        @hotCpu.Product.Manufacturer.Name
                                    </li>
                                    <li>
                                        @hotCpu.Product.Series.Name
                                        @hotCpu.Model
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    @foreach (var hotGpu in Model.HotGpu)
                    {
                        <div class="slide">
                            <img src="@Url.GpusImagesPath(hotGpu.Image)" class="slide-background" />
                            <img src="@Url.ImagesPath("hot.png")" class="slide-icon" />
                            <div class="slide-text">
                                <ul>
                                    <li>
                                        @hotGpu.Product.Manufacturer.Name
                                    </li>
                                    <li>
                                        @hotGpu.Product.Series.Name
                                        @hotGpu.Model
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


