@model PartPicker.ViewModels.HomeViewModel
@using PartPicker.Infrastructure
@{
    ViewBag.Title = "Match it up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slideshow-container">
    <div id="slideshow">
        <div class="slide-wrapper">
            @foreach (var news in Model.New)
            {
                <div class="slide">
                    <img src="@Url.BuildsImagesPath(news.Image)" class="slide-background" />
                    <img src="@Url.ImagesPath("new.png")" class="slide-icon" />
                    <div class="slide-text">
                        <ul>
                            <li>@news.Cpu.Name</li>
                            <li>@news.Mobo.Name</li>
                            <li>@news.Gpu.Name</li>
                        </ul>
                    </div>
                </div>
            }

        </div>
    </div>
    <div id="slideshow">
        <div class="slide-wrapper">
            @foreach (var news in Model.New)
            {
                <div class="slide">
                    <img src="@Url.BuildsImagesPath(news.Image)" class="slide-background" />
                    <img src="@Url.ImagesPath("hot.png")" class="slide-icon" />
                    <div class="slide-text">
                        <ul>
                            <li>@news.Cpu.Name</li>
                            <li>@news.Mobo.Name</li>
                            <li>@news.Gpu.Name</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
