@model PartPicker.ViewModels.PsuFormViewModel
@using PartPicker.Infrastructure

<div class="sidebar">
    <form action="@Url.Action("PsuList", "Psu")" method="post">

        <button type="button" class="dropdown-btn">
            Producent:
        </button>

        <div class="dropdown-container" @{ if (Model.PsuFormCheckedViewModel.ManufacturersChecked[0] != "") { @: style="display:block !important"
             } }>

            @foreach (var manufacturer in Model.Manufacturers)
            {

                <label name="@manufacturer">
                    <div class="filter-send">
                        @if (Model.PsuFormCheckedViewModel.ManufacturersChecked.Contains(manufacturer))
                        {

                            @manufacturer
                            <input class="checkbox-invisible" type="checkbox" name="manufacturers" value="@manufacturer" checked />

                        }
                        else
                        {

                            @manufacturer
                            <input class="checkbox-invisible" type="checkbox" name="manufacturers" value="@manufacturer" />

                        }
                    </div>
                </label>
            }
        </div>

        <button type="button" class="dropdown-btn">
            Format:
        </button>

        <div class="dropdown-container" @{ if (Model.PsuFormCheckedViewModel.FormFactorChecked[0] != "") { @: style="display:block !important"
             } }>

            @foreach (var formFactor in Model.FormFactor)
            {

                <label name="@formFactor">
                    <div class="filter-send">
                        @if (Model.PsuFormCheckedViewModel.FormFactorChecked.Contains(formFactor))
                        {

                            @formFactor
                            <input class="checkbox-invisible" type="checkbox" name="formFactor" value="@formFactor" checked />

                        }
                        else
                        {

                            @formFactor
                            <input class="checkbox-invisible" type="checkbox" name="formFactor" value="@formFactor" />

                        }
                    </div>
                </label>
            }
        </div>

        <button type="button" class="dropdown-btn">
            Moc:
        </button>
        <div class="dropdown-container" @{ if (Model.PsuFormCheckedViewModel.PowerMax != 0 || Model.PsuFormCheckedViewModel.PowerMin != 0) { @: style="display:block !important"
             } }>
            <label name="min">
                <div class="filter-send flex">
                    <div class="filter-send-text">
                        Min:
                    </div>
                    <div class="filter-send-input-number">
                        @if (Model.PsuFormCheckedViewModel.PowerMin != 0)
                        {
                            <input type="number" name="powerMin" value="@Model.PsuFormCheckedViewModel.PowerMin" />@: W
                        }
                        else
                        {
                            <input type="number" name="powerMin" />@: W
                        }
                    </div>
                </div>
            </label>

            <label name="max">
                <div class="filter-send">
                    <div class="flex">
                        <div class="filter-send-text">
                            Max:
                        </div>
                        <div class="filter-send-input-number">
                            @if (Model.PsuFormCheckedViewModel.PowerMax != 0 && Model.PsuFormCheckedViewModel.PowerMax < 1000)
                            {
                                <input type="number" name="powerMax" value="@Model.PsuFormCheckedViewModel.PowerMax" />@: W
                            }
                            else
                            {
                                <input type="number" name="powerMax" />@: W
                            }
                        </div>
                    </div>
                </div>
            </label>
        </div>

        <button class="dropdown-btn">
            FILTRUJ
        </button>
    </form>

    <form action="@Url.Action("PsuList", "Psu")" method="post">
        <button class="dropdown-btn">
            RESET
        </button>
    </form>
</div>

<script src="@Url.Content("~/Scripts/JavaScriptDropDown.js")"></script>

